body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(images/coridour.jpg);
    background-size: cover;
     background-position: center; 
    background-repeat: no-repeat;
    font-family: Arial, sans-serif;
    color: white;
    background-color:black;
}

.auth-card {
    background: rgba(0, 0, 0, 0.85);
    padding: 40px;
    border-radius: 12px;
    width: 400px;
    text-align: center;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.5);
    position: fixed;
}

h1 {
    margin-bottom: 20px;
    font-size: 24px;
}

input {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 8px;
    border: 1px solid #333;
    background: rgba(255, 255, 255, 0.1);
    color: white;
    font-size: 14px;
}

button {
    width: 100%;
    padding: 12px;
    margin: 20px 0;
    border: none;
    border-radius: 10px;
    background-color: orangered;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: darkred;
}

.toggle-link {
    margin-top: 10px;
    color: orangered;
    text-decoration: none;
    font-size: 14px;
}

.toggle-link:hover {
    text-decoration: underline;
}